# dev/prod/etc what ever you want.
export STAGE=... 

# name for service and lambda.
export SERVICE_NAME=...

# aws region, account id.
export AWS_REGION=...
export AWS_ACCOUNT_ID=...

# do not change it.
export AWS_PAGER=""

# role name for lambda function.
export LAMBDA_ROLE_NAME=...

# method of api gateway's resource.
export APIGATEWAY_HTTP_METHOD=...

# authorization. (https://docs.amazonaws.cn/en_us/apigateway/latest/developerguide/api-gateway-method-settings-method-request.html)
export APIGATEWAY_AUTHORIZATION_TYPE=NONE